{{outlet}}
<div class="container">
  <div class="panel panel-primary" style="margin-top: 50px; border: 1px solid #337ab7; border-radius: 5px; padding: 15px;">
    <div class="panel-heading"> Ex 1: note Application</div>
    <div class="panel-body">

      <label for="comment">Note :</label>
      <p>
        {{textarea class="form-control" rows="5" id="comment" value=model.content maxlength=100 }}
      </p>


      <button type="button" class="btn btn-primary" {{action "save" model}}>Sauvegarder</button>
      <button type="button" class="btn btn-primary"{{action "clear" model}}>Effacer</button>


      {{#if model.info }}
        <div class="alert alert-success" style="margin-top: 20px;">
          {{model.info}}
        </div>
      {{/if}}



      <div class="alert alert-primary" style="margin-top: 20px;">
        <p>Nombre de caractères restant : {{model.size}}</p>
      </div>


      {{#if model.modified}}
        <div class="{{model.style}}" style="margin-top: 20px;">
          {{model.modified}}
        </div>
      {{/if}}

    </div>
  </div>
</div>