<form class="img-rounded" id="choixMultiples">
  <div class="container">
    <h1>Sélectionnez vos produits</h1>
    <div class="form-group">
      <div class="inline-block">
        <label>Produits disponibles :
          {{multi-select elements=model.dispoItems selectedIds=model.dispoItemsIds_}}
        </label>
      </div>
      <div class="inline-block">
        <div title="Ajouter" class="btn btn-primary list-btn">{{fa-icon "fas fa-arrow-right"}}
        </div>
        <div title="Ajouter tous" class="btn btn-primary list-btn">{{fa-icon "fas fa-angle-double-right"}}
        </div>
        <div title="Retirer" class="btn btn-primary list-btn">{{fa-icon "fas fa-arrow-left"}}
        </div>
        <div title="Retirer tous" class="btn btn-primary list-btn">{{fa-icon "fas fa-angle-double-left"}}
        </div>
      </div>
      <div class="inline-block">
        <label>Produits à inclure :
          {{multi-select elements=model.includedItems selectedIds=model.includedItemsIds_}}
        </label>

      </div>
    </div>
  </div>
</form>
{{outlet}}