{{outlet}}

<form class="img-rounded">
  <h1>Services</h1>
  <div class="alert alert-info">
    <span>Choisissez les éléments à inclure</span><br>
    <p>services sélectionnés :{{model.countActive}}</p>
  </div>

  {{#each model.services as |service|}}
    <ul>
      <li class="{{action "toggleActive" service on="click"}} {{if service.active "active"}}">
        {{service.name}}
        <span>{{service.price}}</span></li>
    </ul>

  {{/each}}
  <hr>
  <div class="total">
    <h5>Total : <span>{{model.sumActive}}</span></h5>
  </div>

  <div>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"><input class="form-check" type="checkbox"></span>
      </div>
      {{input type="text" class="form-control" placeholder="Code promo" value=model.promo}}
    </div>
  </div>

</form>