<div class="ui container">

  <div class="ui header">
    <i class="plus icon"></i>

    <div class="content">
      <h1>Stories</h1>
    </div>
  </div>

  {{#link-to "story.new" model.id}}
    <button class="ui orange button">
      <i class="plus icon"></i>
      Ajouter une story
    </button>
  {{/link-to}}


  <ul>
    {{#each model.stories as |story|}}
      <li>
        <table class="ui table">
          <tbody>
          <tr>
            <td>{{story.code}}</td>
          </tr>

          <tr>
            <td>{{story.description}}</td>
          </tr>
          </tbody>
        </table>
      </li>
    {{/each}}
  </ul>


  {{#if model.del}}
    <div class="ui icon message">

      <i class="question icon"></i>

      <div class="content">


        <div class="header">
          Supprimer {{model.del.name}} ?
        </div>
        <p>
          <button class="positive ui button" {{action "deleteStory" model.del}}>
            <i class="check icon"></i>
            Valider
          </button>

          <button class="negative ui button" onClick={{action "cancelDelete"}}>
            <i class="remove icon"></i>
            Annuler
          </button>
        </p>
      </div>

    </div>
  {{/if}}

</div>

